
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #326660;
  color: #fff;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.6rem;
  padding: 1rem;
}

.logo:hover {
  background-color: #3c7d70;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu {
  position: relative;
}

.menu li:hover {
  background-color: #3c7d70;
}

.menu li {
  padding: 0.5rem 1rem;
  list-style: none;
  transition: 300ms ease-in-out;
  border-radius: 5px;
}

.menu:last-child {
  margin-right: 1rem;
}


.searchIcon {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 2px;
  font-size: 15px;
}

.searchForm {
  position: relative;
  display: inline-block;
}



@media (min-width: 700px) {
  .searchInput {
    width: 600px;
    padding: 6px 8px;
    opacity: 1;
    transition: all 0.5s ease;
    margin-right: 2px;
  }
}
@media (max-width: 700px) {
  .searchInput {
    width: 250px;
    padding: 6px 8px;
    opacity: 1;
    transition: all 0.5s ease;
    margin-right: 2px;
  }
}
@media (min-width: 1000px) {
  .searchInput {
    width: 600px;
    padding: 6px 8px;
    opacity: 1;
    transition: all 0.5s ease;
    margin-right: 2px;
  }
}

.searchButton {
  background-color: #3c7d70;
  width: 25px;
}
