.navbar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #326660;
  color: #fff;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.6rem;
  padding: 1rem;
  
}

.logo:hover {
  background-color: #3c7d70;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu {
  position: relative;
}

.menu li:hover {
  background-color: #3c7d70;
}

.menu li {
  padding: 0.5rem 1rem;
  list-style: none;
  transition: 300ms ease-in-out;
  border-radius: 5px;
}

.menu:last-child {
  margin-right: 1rem;
}


.searchIcon {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.searchForm {
  position: relative;
  display: inline-block;
}

.searchInput {
  width: 160px;
  padding: 6px 8px;
  opacity: 1;
  transition: all 2s ease; /* Transition animation */
}


.searchButton {
  background-color: #3c7d70;
}